.cover-img2 {
    width: 3em;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.cover-img1 {
    margin: 0.5em 0;
}

.songs-inner {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 20em;
    overflow-y: scroll;
    margin: 1em 0 0.5em 0;
}

.song {
    display: flex;
    gap: 1em;
    width: 16em;
    padding: 0.5em;
    border-bottom: 0.2em solid var(--accent-color2-);
    align-items: center;
}

.modify-btn {
    margin: 0.5em 0 1em 0;
}

