<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={{url_for('static',filename="/images/Logo.png")}} type="image/x-icon">
    <title>Landing</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav">
        <img src="../static/images/Logo.png" alt="logo">
    </nav>
    <main class="main">
        <div class="headimg">
            <div class="illust1">
                
            </div>
            <div class="illust">
                <img src="../static/images/Illustration.png" alt="illustration" class="illustration">
            </div>
        </div>
        <div class="desc">
            <div class="descContainer">
                <div class="heading">
                    <h1 class="headText1">Where music</h1>
                    <h1 class="headText2">comes to life</h1>
                </div>
                <p class="para">Welcome to SoundScape, the ultimate destination for music enthusiasts audiophiles. Immerse yourself in a world where melodies, rhythms, and harmonies spring to life, where every note carries its own story. SoundScape is more than just a music streaming platform; it’s a portal to a vivid and vibrant audio experience.</p>
                <div class="btn">
                    <a href="/user_login" class="btn-1">Log In</a>
                    <a href="/user_register" class="btn-2">Sign Up</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <a href="/" class="social">
            <img src="../static/images/facebook.png" alt="facebook">
        </a>
        <a href="/" class="social">
            <img src="../static/images/insta.png" alt="insta">
        </a>
        <a href="/" class="social">
            <img src="../static/images/linkedin.png" alt="linkedin">
        </a>
        <a href="/" class="social">
            <img src="../static/images/x.png" alt="x">
        </a>
    </footer>
</body>
</html>