<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={{url_for('static',filename="/images/Logo.png")}} type="image/x-icon">
    <title>User Profile</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/song.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="../static/css/playlist.css">
    
</head>
<body>
    <main class="main1">
        <aside class="sidebar" >
            <img src="../static/images/Logo.png" alt="logo" class="logo">
            <div class="nav-links">
                <div class="nav1">
                    <a href="/user_dashboard" class="link"><img src="../static/images/home.png" alt="home_link" class="nav-img"></a>
                    <a href="/user_profile" class="link active"><img src="../static/images/profile.png" alt="profile_link" class="nav-img"></a>
                    <a href="/user_createplaylist" class="link"><img src="../static/images/playlist.png" alt="create_playlist_link" class="nav-img"></a>
                    <a href="/creator_account" class="link"><img src="../static/images/creator.png" alt="creator_register_link" class="nav-img"></a>                
                </div>
                <div class="nav2">
                    <a href="/user_logout" class="link"><img src="../static/images/logout.png" alt="logout" class="nav-img"></a>
                </div>
            </div>
        </aside>
        <section class="profileboard">
            <div class="profile">
                <header class="header">
                    <h1 class="heading1">My Profile</h1>
                </header>
                <div class="profile_container">
                    <div class="pic_container">
                        <img src="../static/songcollection/cover/{{data.profile_pic}}" alt="user_profile_pic" class="profile_pic1">
                    </div>
                    
                    <div class="desc1">
                        <div class="user-info">
                            <p class="subtitle1">Username</h2>
                            <h2 class="title">{{data.user_name}}</p>
                        </div>
                        <div class="user-info">
                            <p class="subtitle1">Email</h2>
                            <h2 class="title">{{data.email}}</p>
                        </div>
                        
                        <div class="user-info">
                            <p class="subtitle1">Password</h2>
                            <h2 class="title">{{data.password}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="profile">
                <header class="header">
                    <h1 class="heading1">Edit Profile</h1>
                </header>
                <div class="profile_container">
                    
                    <form class="desc4"  method="post">
                        <div class="user-info">
                            <label class="subtitle1" for="username">Username</h2>
                            <input type="text" name="username" id="username" class="input1 input-modify" placeholder="Enter Your Name" value="{{data.user_name}}">
                        </div>
                        <div class="user-info">
                            <label class="subtitle1" for="email">Email</h2>
                            <input type="email" name="email" id="email" class="input1 input-modify" placeholder="Enter Your Email" value="{{data.email}}">
                        </div>
                        <div class="user-info">
                            <label class="subtitle1" for="upload-pic">Upload Profile Pic</h2>
                            <input type="file" name="upload-pic" id="upload-pic" class="input1 input-modify file-input" accept="images/*">
                        </div>

                        <div class="user-info">
                            <label class="subtitle1">Password</h2>
                            <input type="password" name="password" id="password" class="input1 input-modify" placeholder="Enter Your Password" value="{{data.password}}">
                        </div>
                        {% if error:%}
                            <p class="error_message">{{error}}</p>
                        {% endif %}
                        <div class="btns">
                            <button type="submit" class="btn-1">Update</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </section>
    </main>
    
</body>
</html>