<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={{url_for('static',filename="/images/Logo.png")}} type="image/x-icon">
    <title>User Register</title>
    <link rel="stylesheet" href="../static/css/loginstyles.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav">
        <img src="../static/images/Logo.png" alt="logo">
    </nav>
    <main class="login">
        <div class="formContainer">
            <h1 class="formHeader">Account Register</h1>
            <form action="/user_register" method="post" class="form">
                <label for="username" class="label">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter Username" class="input" required>
                <label for="email" class="label">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter e-mail" class="input" required>
                <label for="password" class="label">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Password" class="input" required>
                <label for="confirm-password" class="label">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm-password" placeholder="Enter Password" class="input" required>
                {% if error:%}
                    <p class="error_message">{{error}}</p>
                {% endif %}
                <div class="btn">
                    <a href="/" class="btn-2 submit">Back</a>
                    <button type="submit" class="btn-1 submit">Sign Up</button>
                    
                </div>
            </form>
            <p class="para link-text">Already a user? <a href="/user_login" class="link">Login</a></p>
        </div>
        
    </main>
    <footer class="footer">
        <a href="/" class="social">
            <img src="../static/images/facebook.png" alt="facebook">
        </a>
        <a href="/" class="social">
            <img src="../static/images/insta.png" alt="insta">
        </a>
        <a href="/" class="social">
            <img src="../static/images/linkedin.png" alt="linkedin">
        </a>
        <a href="/" class="social">
            <img src="../static/images/x.png" alt="x">
        </a>
    </footer>
</body>
</html>